---
layout: home
---
<div class="hero hero--full hero--mast">
  <div class="container">
    <header class="hero__header">
      <h1 class="hero__heading">The Idea Lab</h1><!-- /.hero-heading -->
      <p class="hero__subheading">Crowdsourcing Hopkins Innovation</p><!-- /.hero-subheading -->
      <p class="hero__excerpt">The Idea Lab is the place where Johns Hopkins challenges the collective wisdom of the university community to strengthen, innovate and help map the future trajectory of the university. The challenges in The Idea Lab can range from seed grants, to contests, to idea generation to crowd funding, and everything in between.</p><!-- /.hero-content hero-content -->
    </header><!-- /.hero-header-->
    <div class="hero__content">
      <div class="steps steps--mast">
        <h2 class="steps__heading">How does it work?</h2><!-- /.steps-heading steps-feature-heading -->
        <ol class="steps__list steps__list--horizontal">
          <li class="steps__item" data-count="1">
            Sign in to the JHU Idea Lab community using your JHEDID and password.<br><a class="help" href="#" title=" Get help with your JHED ID"> Get help with your JHED ID</a>.
          </li>
          <li class="steps__item" data-count="2">
            Submit your ideas, vote for an existing idea, or join an existing discussion.
          </li>
          <li class="steps__item" data-count="3">
            The best ideas will be selected.
          </li>
        </ol><!-- /.step-list step-list-horizontal -->
      </div><!-- /.steps steps-horizontal steps-feature -->
    </div><!-- /.hero-content hero-full-content -->
    <div class="hero-footer">
      <a href="#" class="button button--rev button--cornflower">Get Started</a>
    </div><!-- /.hero-footer -->
  </div><!-- /.container -->
</div><!-- /.hero hero-full -->





<div class="main-content">
  <div class="container">
    <section class="current-challenges current-challenges--full">
      {% include _current-challenges.html %}
    </section> <!-- /.challenges -->
  </div> <!-- /.container -->
</div> <!-- /content -->





<div class="sub-content">
  <div class="container">
    <h2>Inspired by the APL Ignition Grants.</h2>
    <img class="attach attach-left jhu-logo" src="/images/logo-jhu-apl-horizontal.png" alt="JHU APL">
    <p>
      Ignition Grants is an APL initiative to motivate exploration of innovative ideas outside of traditional R&amp;D processes and promote staff collaborations across the Laboratory. It is a community-driven activity promoting discussion, debate, and voting to award $5-$20K seed funding grants. As of winter 2014, after 10 cycles and four years of the program, over 3800 of our 5400 staff members had participated, submitted over 750 ideas, and cast over 55,000 votes &ndash; an excellent trajectory for grassroots innovation at APL and an indication of its high popularity among the APL staff.  Our substantial increase in the number of invention disclosures has been directly attributed to this initiative.
    </p>
    <p>
      As of the latest cycle, 67 ideas had won Ignition Grants funding. While the Ignition Grants funding has produced direct benefits to the grant recipients and many of the ideas have received follow-on funding, the main objective of the program to enhance collaboration and knowledge sharing at APL has been well evident.
    </p>
    <p>
      Today, Ignition Grants continues to succeed while we experiment with new variations in themes and processes to keep it fresh and make it even more effective at encouraging innovation at APL.
    </p>
  </div><!-- /.container -->
</div><!-- /.sub-content -->
