---
title: Interior Page Template
layout: default
---

<div class="container">
  <article class="entry-single">
    <header class="entry-single__header">
      <h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h1>
    </header>
    <div class="main-content">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
    </div>
    <section class="sub-content">
      <div class="current-challenges current-challenges--list current-challenges--sidebar">
        {% include _current-challenges.html %}
      </div>
    </section>
  </article>

</div>
