<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 l-home" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 l-home" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 l-home" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js l-home" lang=""> <!--<![endif]-->
  <head>
    <title>{{wp_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/styles/master.css">
    {% block head %}

    {% endblock %}
  </head>

  <body>
    <div class="page">
      <div class="page-row page-row--expanded">
        {% include 'includes/_site-header.twig' with { 'masthead_class': masthead_class } %}
        <main class="main">
          {% block content %}

          {% endblock %}
        </main><!-- /.main -->

      </div>

      {% include 'includes/_site-footer.twig' %}
    </div>





    <!-- bower:js -->
    <script src="/bower_components/zepto/zepto.js"></script>
    <script src="/bower_components/loadcss/loadCSS.js"></script>
    <!-- endbower -->
    <script>
      // load a file
      loadCSS( "/styles/webfonts.css" );
    </script>
    <noscript><link href="/styles/webfonts.css" rel="stylesheet"></noscript>
    <script src="/scripts/main.js"></script>
  </body>
</html>
