<h2 class="current-challenges__heading">Current Challenges</h2>
      <ul class="current-challenges__list challenges">
        <li class="challenges__item challenge" id="challenge-ten-20">
          <div class="challenge__header media">
              <img src="http://placecage.com/100/100" alt="" class="media__src challenge__src">
              <div class="media__body">
                <h2 class="challenge__heading">Ten&thinsp;&times;&thinsp;20</h2>
                <p class="challenge__excerpt">
                  A grant competition on ideas about how to improve collaboration across Johns Hopkins. <em class="help">Available to all students, faculty and staff of Johns Hopkins University.</em>
                </p>
                <div class="button-group challenge__actions">
                  <a href="#" title="Submit an Idea" class="button cta">Submit an Idea</a>
                  <a href="#" title="Vote Today" class="button button-group__last cta--outline">Vote Today</a>
                </div>
              </div>
          </div>
          <ul class="challenge__content ideas-list ideas-list--full">
            <li class="ideas__item idea" id="challenge-ten-20-idea-01">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37 <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="idea__action" href="#" title="5 Comments">
                  5 <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
            <li class="ideas__item idea" id="challenge-ten-20-idea-02">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37
                  <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="action idea__action" href="#" title="5 Comments">
                  5
                  <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
            <li class="ideas__item idea" id="challenge-ten-20-idea-03">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37
                  <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="idea__action" href="#" title="5 Comments">
                  5
                  <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
            <li class="ideas__item idea" id="challenge-ten-20-idea-04">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37
                  <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="action idea__action" href="#" title="5 Comments">
                  5
                  <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
          </ul>
          <div class="challenge__footer">
            <a href="#" class="button button--grey button--outline">See All Ideas</a>
          </div>
        </li>
        <li class="challenges__item challenge" id="diversity-innovation-grants">
          <div class="challenge__header media">

              <img src="http://placecage.com/100/100" alt="" class="media__src challenge__src">
              <div class="media__body">
                <h2 class="challenge__heading">Diversity Innovation Grants</h2>
                <p class="challenge__excerpt">
                  A grant competition on ideas about how to improve collaboration across Johns Hopkins. <em class="help">Available to all students, faculty and staff of Johns Hopkins University.</em>
                </p>
                <div class="button-group challenge__actions">
                <a href="#" title="Submit an Idea" class="button cta">Submit an Idea</a>
                <a href="#" title="Vote Today" class="button button-group__last cta--outline">Vote Today</a>
              </div>
              </div>

          </div>
          <ul class="challenge__content ideas-list ideas-list--full">
            <li class="ideas__item idea" id="challenge-ten-20-idea-01">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37 <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="action idea__action" href="#" title="5 Comments">
                  5 <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
            <li class="ideas__item idea" id="challenge-ten-20-idea-02">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37
                  <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="action idea__action" href="#" title="5 Comments">
                  5
                  <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
            <li class="ideas__item idea" id="challenge-ten-20-idea-03">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37
                  <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="action idea__action" href="#" title="5 Comments">
                  5
                  <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
            <li class="ideas__item idea" id="challenge-ten-20-idea-04">
              <h2 class="idea__heading idea__content">
                <a href="#" title="Link">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
              </h2>
              <div class="actions idea__actions">
                <a class="idea__action" href="#" title="37 Votes">
                  37
                  <i class="icon icon--small icon-vote">Votes</i>
                </a>
                <a class="action idea__action" href="#" title="5 Comments">
                  5
                  <i class="icon icon--small icon-comments">Comments</i>
                </a>
              </div>
            </li>
          </ul>
          <div class="challenge__footer">
            <a href="#" class="button button--grey button--outline">See All Ideas</a>
          </div>
        </li>
      </ul>
