<div class="masthead masthead--has-full-bg masthead--has-hero">
  <div class="container">
    <a href="#" class="brand brand--horiz masthead__brand">Johns Hopkins University</a>
    <nav class="primary-menu masthead__primary">
      <ul class="nav primary-nav">
        <li>
          <a href="#" title="Contact">Contact</a>
        </li>
        <li>
          <a href="#" title="Rules">Rules</a>
        </li>
        <li>
          <a href="#" title="FAQ">FAQ</a>
        </li>
      </ul>
    </nav><!-- /.masthead-nav -->

  </div>
</div><!-- /.masthead -->
