{% for challenge in challenges %}
  {% if loop.first %}
  <h2 class="current-challenges__heading">Current Challenges</h2>
  <ul class="current-challenges__list challenges">
  {% endif %}

  {% if loop.last %}
  </ul>
  {% endif %}
{% endfor %}

