@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: gentona, "proxima nova", helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.28; }

h1, h2, h3, h4, h5, h6 {
  margin: 18px 0 18px; }

h1 {
  margin-top: 0;
  font-family: quadon, helvetica, sans-serif;
  font-size: 33px;
  line-height: 36px; }

* + h1 {
  margin-top: 36px; }

h2 {
  font-size: 25px;
  line-height: 36px; }

h3 {
  font-size: 19px;
  line-height: 36px;
  margin-top: 18px;
  margin-bottom: 18px; }

h4 {
  font-size: 14px;
  line-height: 18px;
  margin-top: 18px;
  margin-bottom: 18px; }

blockquote, p, ol, ul, dl {
  margin: 0 0 18px; }

a:link, a:active, a:visited {
  text-decoration: none;
  color: #005eb8;
  transition: all .3s ease-in-out; }

a:hover, a:visited {
  transition-duration: .1s; }

.help {
  font-size: .8em; }

.alignleft {
  float: left;
  margin: 0 26px 18px 0; }
  .alignleft.jhu-logo {
    margin-top: 36px;
    margin-right: 54px;
    margin-bottom: 36px; }

.alignright {
  float: right;
  margin: 0 0 18px 26px; }
  .alignright.jhu-logo {
    margin-top: 36px;
    margin-left: 54px;
    margin-bottom: 36px; }

.brand {
  display: block;
  overflow: hidden; }
  .brand:before {
    content: '';
    display: block;
    width: 1px;
    height: 150%; }

.brand--horiz {
  width: 207px;
  height: 41px;
  background: transparent url('../images/logo-jhu-horizontal.svg') center center no-repeat; }
  .no-svg .brand--horiz {
    background-image: url('../images/logo-jhu-horizontal@3x.png');
    background-size: cover; }
  .brand--horiz.brand--blue {
    background: transparent url('../images/logo-jhu-horizontal-blue.svg') center center no-repeat; }
    .no-svg .brand--horiz.brand--blue {
      background-image: url('../images/logo-jhu-horizontal-blue@3x.png');
      background-size: cover; }

.button {
  display: inline-block;
  padding: 9px 26px;
  line-height: 1;
  font-weight: 700;
  border: 0;
  border-radius: 4px; }

.button--grey {
  color: #eae8e6;
  background-color: #7e7e7c; }
  .button--grey.button--outline {
    color: #7e7e7c;
    border: 2px solid #7e7e7c;
    background-color: transparent; }
    .button--grey.button--outline:hover, .button--grey.button--outline:focus {
      color: #fff;
      border-color: #4b4b49;
      background-color: #7e7e7c; }

.button--cinnabar:link, .button--cinnabar:active, .button--cinnabar:visited {
  color: #eae8e6;
  background-color: #e03c31; }
.button--cinnabar:hover, .button--cinnabar:active {
  color: #e03c31;
  background-color: #eae8e6; }
.button--cinnabar.button--outline {
  color: #e03c31;
  border: 2px solid #e03c31;
  background-color: transparent; }
  .button--cinnabar.button--outline:hover, .button--cinnabar.button--outline:focus {
    color: #fff;
    border-color: #951e16;
    background-color: #e03c31; }
.button--cinnabar.button--rev {
  color: #e03c31;
  background-color: #eae8e6; }
  .button--cinnabar.button--rev:hover, .button--cinnabar.button--rev:focus {
    color: #eae8e6;
    background-color: #e03c31; }

.button--cornflower {
  color: #eae8e6;
  background-color: #68ace5; }
  .button--cornflower.button--rev {
    color: #68ace5;
    background-color: #eae8e6; }

.button-group {
  overflow: hidden;
  font-size: 0;
  line-height: 0; }
  .button-group .button {
    display: block;
    font-size: 14px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
    @media  (min-width: 40.625em) {
      .button-group .button {
        display: inline-block;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; } }
    .lt-ie9 .button-group .button {
      display: inline-block;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .button-group .button + .button {
      border-radius: 0; }
      @media  (min-width: 40.625em) {
        .button-group .button + .button {
          border-radius: 4px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; } }
      .lt-ie9 .button-group .button + .button {
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
  .button-group .button:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 4px; }
    @media  (min-width: 40.625em) {
      .button-group .button:last-child {
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; } }
    .lt-ie9 .button-group .button:last-child {
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

.current-challenges {
  color: #212f57; }

.current-challenges__heading {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 1; }

@media  (min-width: 40.625em) {
  .current-challenges--full {
    padding-left: 12.76596%;
    padding-right: 12.76596%; } }
.lt-ie9 .current-challenges--full {
  padding-left: 12.76596%;
  padding-right: 12.76596%; }
.current-challenges--full .challenges__item {
  margin-bottom: 54px; }

.current-challenges__list {
  padding-left: 0;
  margin-left: 0; }

.challenge__header {
  overflow: hidden;
  margin-bottom: 18px; }

@media  (min-width: 40.625em) {
  .challenge__src {
    width: 5.71429%;
    float: left;
    margin-right: 2.85714%; } }
.lt-ie9 .challenge__src {
  width: 5.71429%;
  float: left;
  margin-right: 2.85714%; }

.challenge__excerpt {
  margin: 0 0 9px; }
  @media  (min-width: 40.625em) {
    .challenge__excerpt {
      width: 53.125%;
      float: left;
      margin-right: 3.125%;
      margin-bottom: 0; } }
  .lt-ie9 .challenge__excerpt {
    width: 53.125%;
    float: left;
    margin-right: 3.125%;
    margin-bottom: 0; }

@media  (min-width: 40.625em) {
  .challenge__actions {
    width: 43.75%;
    float: right;
    margin-right: 0;
    text-align: right; } }
.lt-ie9 .challenge__actions {
  width: 43.75%;
  float: right;
  margin-right: 0;
  text-align: right; }

.cta:link, .cta:active, .cta:visited {
  border: 2px solid transparent;
  color: #eae8e6;
  background-color: #005eb8; }
.cta:hover, .cta:focus {
  color: #005eb8;
  background-color: #eae8e6; }

.cta--rev:link, .cta--rev:active, .cta--rev:visited {
  border: 2px solid transparent;
  color: #005eb8;
  background-color: #eae8e6; }
.cta--rev:hover, .cta--rev:focus {
  color: #eae8e6;
  background-color: #005eb8; }

.cta--outline:link, .cta--outline:active, .cta--outline:visited {
  border: 2px solid #005eb8;
  color: #005eb8;
  background-color: #eae8e6; }
.cta--outline:hover, .cta--outline:focus {
  color: #eae8e6;
  background-color: #005eb8; }

/* ==========================================================================
   Hero
   ========================================================================== */
/* TOC */
/* ==========================================================================
   § Base Hero
   ========================================================================== */
.hero__header {
  margin-bottom: 18px; }
  .hero__header > :last-child {
    margin-bottom: 0; }

.hero__heading, .hero__subheading {
  line-height: 1; }

.hero__heading {
  margin-bottom: 0;
  font-family: quadon, helvetica, sans-serif;
  font-weight: 800;
  font-size: 48px; }

.hero__subheading {
  margin: 0 0 9px;
  font-weight: 700;
  font-size: 32px; }

.hero__excerpt {
  margin: 0 0 18px;
  font-size: 16px;
  line-height: 18px;
  color: #eae8e6; }
  .hero__excerpt p {
    margin-bottom: 9px; }

.hero__content {
  margin-bottom: 18px; }
  .hero__content > :last-child {
    margin-bottom: 0; }

/* ==========================================================================
   § Hero Full
   ========================================================================== */
.hero--full {
  position: relative;
  z-index: 1;
  background: transparent url('../images/hero-campus-full.jpg') center bottom no-repeat;
  background-size: cover; }
  @media  (min-width: 40.625em) {
    .hero--full {
      background: transparent url('../images/hero-campus-full.jpg') center bottom no-repeat;
      background-size: cover; } }
  .lt-ie9 .hero--full {
    background: transparent url('../images/hero-campus-full.jpg') center bottom no-repeat;
    background-size: cover; }
  .hero--full:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 76, 0.6); }
  .hero--full .container {
    position: relative;
    z-index: 2; }

/* ==========================================================================
   § Hero Behind Masthead
   ========================================================================== */
.hero--mast {
  padding-top: 10em;
  padding-bottom: 36px;
  color: #eae8e6; }
  @media  (min-width: 40.625em) {
    .hero--mast {
      height: 85%;
      max-height: 42em;
      padding-top: 10em;
      padding-bottom: 54px; } }
  .lt-ie9 .hero--mast {
    height: 85%;
    max-height: 42em;
    padding-top: 10em;
    padding-bottom: 54px; }
  @media  (min-width: 40.625em) {
    .hero--mast .hero__wrap {
      margin-left: 12.76596%; } }
  .lt-ie9 .hero--mast .hero__wrap {
    margin-left: 12.76596%; }
  .hero--mast .hero__header {
    padding-top: 126px;
    background: transparent url('../images/icon-bulb-flourescent.svg') center top no-repeat; }
    @media  (min-width: 40.625em) {
      .hero--mast .hero__header {
        padding-left: 6.38298%;
        padding-top: 0;
        background-position: 0 top; } }
    .lt-ie9 .hero--mast .hero__header {
      padding-left: 6.38298%;
      padding-top: 0;
      background-position: 0 top; }
  @media  (min-width: 40.625em) {
    .hero--mast .hero__excerpt {
      padding-right: 31.91489%; } }
  .lt-ie9 .hero--mast .hero__excerpt {
    padding-right: 31.91489%; }

.icon {
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .icon:before {
    content: '';
    display: block;
    width: 1px;
    height: 150%; }

.icon--small {
  width: 14px;
  height: 14px; }

.icon-comments {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat; }
  .icon-comments.icon--small {
    background-image: url('../images/icon-chat-small-grey.svg');
    background-size: 14px 12px; }

.icon-vote.icon--small {
  background-image: url('../images/icon-vote-small-grey.svg');
  background-size: 14px 12px; }

.ideas-list {
  overflow: hidden;
  padding-left: 0;
  margin-left: 0;
  list-style: none; }

.ideas__item {
  display: block;
  margin-bottom: 18px; }
  @media  (min-width: 40.625em) {
    .ideas__item {
      display: inline-block;
      margin-bottom: 0; } }
  .lt-ie9 .ideas__item {
    display: inline-block;
    margin-bottom: 0; }

.idea {
  border: 2px solid #eae8e6;
  border-radius: 4px; }

.idea__heading, .idea__content {
  padding-right: 13px;
  padding-left: 13px; }

.idea__heading {
  padding-top: 9px;
  font-size: 14px; }
  .idea__heading a {
    color: #7e7e7c; }

.idea__content {
  padding-bottom: 9px; }

.idea__actions {
  padding: 9px 13px;
  line-height: 1;
  background-color: #eae8e6; }

.idea__action {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  line-height: 1;
  vertical-align: baseline; }
  .idea__action:link, .idea__action:active, .idea__action:visited {
    color: #7e7e7c; }
  .idea__action:hover, .idea__action:focus {
    color: #4b4b49; }
  .idea__action + .idea__action {
    margin-left: 13px; }
  .idea__action .icon {
    position: absolute;
    top: 0;
    left: 0; }

@media  (min-width: 40.625em) {
  .ideas-list--full .idea {
    display: inline-block;
    width: 22.85714%; } }
.lt-ie9 .ideas-list--full .idea {
  display: inline-block;
  width: 22.85714%; }
@media  (min-width: 40.625em) {
  .ideas-list--full .idea + .idea {
    margin-left: 2.12766%; } }
.lt-ie9 .ideas-list--full .idea + .idea {
  margin-left: 2.12766%; }

.current-challenges--sidebar {
  color: #7e7e7c; }
  .current-challenges--sidebar .challenges__item + .challenges__item {
    margin-top: 36px; }
  .current-challenges--sidebar .challenge__src {
    display: none; }
  .current-challenges--sidebar .challenge__excerpt {
    width: 100%; }
  .current-challenges--sidebar .challenge__actions {
    display: none; }
  .current-challenges--sidebar .ideas__item {
    display: table;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    padding: 9px 13px;
    border: 0;
    border-radius: 0; }
    .current-challenges--sidebar .ideas__item + .ideas__item {
      margin-top: 9px;
      margin-left: 0;
      border-top: 1px solid #7e7e7c; }
  .current-challenges--sidebar .idea__content {
    margin-bottom: 9px;
    padding: 0; }
    @media  (min-width: 46.875em) {
      .current-challenges--sidebar .idea__content {
        display: table-cell;
        width: 63%;
        margin-bottom: 0;
        vertical-align: middle; } }
    .lt-ie9 .current-challenges--sidebar .idea__content {
      display: table-cell;
      width: 63%;
      margin-bottom: 0;
      vertical-align: middle; }
  .current-challenges--sidebar .idea__actions {
    padding: 0;
    background: none; }
    @media  (min-width: 46.875em) {
      .current-challenges--sidebar .idea__actions {
        display: table-cell;
        width: 35%;
        vertical-align: middle; } }
    .lt-ie9 .current-challenges--sidebar .idea__actions {
      display: table-cell;
      width: 35%;
      vertical-align: middle; }

.media {
  overflow: hidden; }

.media__src {
  float: left;
  margin-right: 26px; }

.media__body {
  overflow: hidden; }

.masthead {
  padding-top: 24px;
  padding-bottom: 24px; }

.masthead--interior {
  background-color: #fff; }
  .masthead--interior .brand {
    background: transparent url('../images/logo-jhu-horizontal-blue.svg') center center no-repeat; }
    .no-svg .masthead--interior .brand {
      background-image: url('../images/logo-jhu-horizontal-blue@3x.png');
      background-size: cover; }
  .masthead--interior .primary-nav a:before {
    background-color: #68ace5; }
  .masthead--interior .primary-nav a:link, .masthead--interior .primary-nav a:active, .masthead--interior .primary-nav a:visited {
    color: #002d72; }
  .masthead--interior .primary-nav a:hover, .masthead--interior .primary-nav a:focus {
    color: #68ace5; }

.masthead__brand {
  margin: 0 auto 36px; }
  @media  (min-width: 40.625em) {
    .masthead__brand {
      float: left;
      margin-bottom: 0; } }
  .lt-ie9 .masthead__brand {
    float: left;
    margin-bottom: 0; }

.masthead__primary {
  margin: 0 auto 36px; }
  @media  (min-width: 40.625em) {
    .masthead__primary {
      width: 23.40426%;
      float: right;
      margin-right: 0;
      margin-bottom: 0; } }
  .lt-ie9 .masthead__primary {
    width: 23.40426%;
    float: right;
    margin-right: 0;
    margin-bottom: 0; }

.masthead--has-full-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%; }

.nav {
  padding-left: 0;
  margin-left: 0; }
  .nav > li {
    display: inline-block;
    margin-top: 0; }
    .nav > li + li {
      margin-left: math-strip-units(1.85714)em; }
    .nav > li > a {
      display: inline-block;
      text-decoration: none; }

.primary-nav {
  text-align: center; }
  @media  (min-width: 40.625em) {
    .primary-nav {
      margin-top: 9px;
      margin-bottom: 0;
      text-align: right; } }
  .lt-ie9 .primary-nav {
    margin-top: 9px;
    margin-bottom: 0;
    text-align: right; }
  .primary-nav li {
    position: relative; }
  .primary-nav > li + li {
    margin-left: 13px; }
  .primary-nav a:before {
    content: '';
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #eae8e6;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  .primary-nav a:link, .primary-nav a:active, .primary-nav a:visited {
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #eae8e6; }
  .primary-nav a:hover, .primary-nav a:focus {
    color: #ffcd00; }
    .primary-nav a:hover:before, .primary-nav a:focus:before {
      visibility: visible;
      transition-duration: .3s;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .primary-nav .current-menu-item a:link, .primary-nav .current-menu-item a:active, .primary-nav .current-menu-item a:visited, .primary-nav .current-menu-item a:hover, .primary-nav .current-menu-item a:focus {
    color: #005eb8; }
    .primary-nav .current-menu-item a:link:before, .primary-nav .current-menu-item a:active:before, .primary-nav .current-menu-item a:visited:before, .primary-nav .current-menu-item a:hover:before, .primary-nav .current-menu-item a:focus:before {
      visibility: visible;
      transition-duration: .3s;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.steps__heading {
  margin-bottom: 9px;
  font-size: 24px;
  color: #ffcd00; }

.steps--mast a:link, .steps--mast a:active, .steps--mast a:visited {
  text-decoration: underline;
  color: #eae8e6; }

.steps__list {
  padding: 0;
  margin: 0; }

.steps__item {
  height: 48px; }
  .steps__item:before {
    content: attr(data-count);
    display: block;
    font-family: quadon, helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    color: #ffcd00; }

@media  (min-width: 40.625em) {
  .steps__list--horizontal {
    display: table;
    vertical-align: top; } }
.lt-ie9 .steps__list--horizontal {
  display: table;
  vertical-align: top; }
.steps__list--horizontal .steps__item {
  position: relative;
  padding-left: 39px;
  margin-bottom: 36px; }
  @media  (min-width: 40.625em) {
    .steps__list--horizontal .steps__item {
      display: table-cell;
      width: 31.42857%;
      padding-left: 5.71429%; } }
  .lt-ie9 .steps__list--horizontal .steps__item {
    display: table-cell;
    width: 31.42857%;
    padding-left: 5.71429%; }
  .steps__list--horizontal .steps__item:before {
    position: absolute;
    top: 0;
    left: 0; }
    @media  (min-width: 40.625em) {
      .steps__list--horizontal .steps__item:before {
        width: 18.18182%;
        text-align: center; } }
    .lt-ie9 .steps__list--horizontal .steps__item:before {
      width: 18.18182%;
      text-align: center; }

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: auto; }

html, body {
  height: 100%; }

@media  (min-width: 40.625em) {
  .page {
    display: table;
    width: 100%; } }
.lt-ie9 .page {
  display: table;
  width: 100%; }

@media  (min-width: 40.625em) {
  .page-row {
    display: table-row;
    height: 1px; } }
.lt-ie9 .page-row {
  display: table-row;
  height: 1px; }

@media  (min-width: 40.625em) {
  .page-row--expanded {
    height: 100%; } }
.lt-ie9 .page-row--expanded {
  height: 100%; }

.keel {
  width: 100%;
  padding: 54px 0;
  background-color: #002d72; }

@media  (min-width: 40.625em) {
  .l-home .main {
    height: 100%; } }
.lt-ie9 .l-home .main {
  height: 100%; }
.l-home .main-content {
  padding-top: 36px;
  padding-bottom: 36px; }
.l-home .sub-content {
  background-color: #fbd872; }
  .l-home .sub-content .container {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 21px; }
    @media  (min-width: 40.625em) {
      .l-home .sub-content .container {
        padding-left: 12.76596%;
        padding-right: 12.76596%; } }
    .lt-ie9 .l-home .sub-content .container {
      padding-left: 12.76596%;
      padding-right: 12.76596%; }
  .l-home .sub-content h2 {
    margin-bottom: 18px;
    font-family: quadon, helvetica, sans-serif; }

.l-interior {
  background-color: #f8f7f6; }
  .l-interior .main {
    overflow: hidden;
    padding-top: 54px;
    padding-bottom: 36px; }
  @media  (min-width: 40.625em) {
    .l-interior .entry-single__header {
      width: 61.70213%; } }
  .lt-ie9 .l-interior .entry-single__header {
    width: 61.70213%; }
  @media  (min-width: 40.625em) {
    .l-interior .main-content {
      width: 48.93617%;
      float: left;
      margin-right: 2.12766%;
      font-size: 21px; } }
  .lt-ie9 .l-interior .main-content {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    font-size: 21px; }
  @media  (min-width: 61.125em) {
    .l-interior .main-content {
      width: 61.70213%;
      float: left;
      margin-right: 2.12766%;
      font-size: 21px; } }
  .lt-ie9 .l-interior .main-content {
    width: 61.70213%;
    float: left;
    margin-right: 2.12766%;
    font-size: 21px; }
  @media  (min-width: 40.625em) {
    .l-interior .sub-content {
      width: 36.17021%;
      float: right;
      margin-right: 0; } }
  .lt-ie9 .l-interior .sub-content {
    width: 36.17021%;
    float: right;
    margin-right: 0; }
  @media  (min-width: 61.125em) {
    .l-interior .sub-content {
      width: 23.40426%;
      float: right;
      margin-right: 0;
      margin-right: 6.38298%; } }
  .lt-ie9 .l-interior .sub-content {
    width: 23.40426%;
    float: right;
    margin-right: 0;
    margin-right: 6.38298%; }
