{% extends 'template-challenges.twig' %}


{% block challenge_content %}
{% for key, entries in past_challenges | date_batch('challenge_end_date', 'Ymd') %}
    {% for challenge in entries %}
        {% if challenge.projects | length %}
            {% if loop.first %}
            <div class="cc-list__group">
                <h2 class="cc-list__date">
                    {{ key }}
                </h2>
                <!-- /.cc-list__date -->
                <div class="cc-list">
            {% endif %}

            {% include "includes/_past-challenge-item-full.twig" with { 'post' : challenge } only %}

            {% if loop.last %}
                </div>
                <!-- /.cc-list -->
            </div>
            <!-- /.cc-list__group -->
            {% endif %}
        {% endif %}


    {% endfor %}
{% endfor %}
{% endblock %}
