{% extends 'template-challenges.twig' %}


{% block challenge_content %}
  <div class="cc-list cc-list--past">
    {% for year_month, batched_entries in past_challenges | date_batch('challenge_end_date', 'Ymd') %}


      <div class="cc-list__group">
        <h2 class="cc-list__date">{{ year_month | date( 'Y' ) }}</h2>

        {% for challenge in batched_entries if challenge.projects | length %}
          {% include "includes/_past-challenge-winner-item.twig" with { 'post' : challenge } only %}
        {% endfor %}
      </div>
      <!-- /.cc-list__group -->


    {% endfor %}
  </div>
  <!-- /.cc-list -->
{% endblock %}
