.brand {
  display: block;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 150%;
  }
}

.brand--horiz {
  width: 207px;
  height: 41px;
  background: transparent url('../images/logo-jhu-horizontal.svg') center center no-repeat;

  .no-svg & {
    background-image: url('../images/logo-jhu-horizontal.png');
  }

  &.brand--blue {
    background: transparent url('../images/logo-jhu-horizontal-blue.svg') center center no-repeat;

      .no-svg & {
        background-image: url('../images/logo-jhu-horizontal-blue.png');
      }
  }
}
