//
// @TODO: Add docs to _button!
//
@mixin _button {
  display: inline-block;
  padding: $vs/2 ($hs/2);
  font-weight: 700;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 4px;
}


.button {
  display: inline-block;
  padding: $vs/2 ($hs/2);
  font-weight: 700;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 4px;
}


.button--large {
    font-size: 24px;
}


.button--white {
  color: palette(blue, endeavour);
  background-color: palette(white);

  &:hover,
  &:focus {
    color: palette(white);
    background-color: palette(blue, endeavour);
  }
  &.button--outline {
    color: palette(white);
    border: 2px solid palette(white);
    background-color: transparent;

    &:hover,
    &:focus {
      color: palette(white);
      background-color: palette(blue, endeavour);
    }
  }
}


.button--grey {
  color: palette(white, ebb);
  background-color: palette(grey, friar);

  &.button--outline {
    color: palette(grey, friar);
    border: 2px solid palette(grey, friar);
    background-color: transparent;

    &:hover,
    &:focus {
      color: palette(white);
      border-color: darken(palette(grey, friar), 20%);
      background-color: palette(grey, friar);
    }
  }
}


.button--cinnabar {
  &:link,
  &:active,
  &:visited {
    color: palette(white, ebb);
    background-color: palette(red, cinnabar);
  }
  &:hover,
  &:active {
    color: palette(red, cinnabar);
    background-color: palette(white, ebb);
  }
  &.button--outline {
    color: palette(red, cinnabar);
    border: 2px solid palette(red, cinnabar);
    background-color: transparent;

    &:hover,
    &:focus {
      color: palette(white);
      border-color: darken(palette(red, cinnabar), 20%);
      background-color: palette(red, cinnabar);
    }
  }
  &.button--rev {
    color: palette(red, cinnabar);
    background-color: palette(white, ebb);

    &:hover,
    &:focus {
      color: palette(white, ebb);
      background-color: palette(red, cinnabar);
    }
  }

}


.button--cornflower {
  color: palette(white, ebb);
  background-color: palette(blue, cornflower);

  &.button--rev {
    color: palette(blue, cornflower);
    background-color: palette(white, ebb);
  }
  &.button--outline {
    &:link,
    &:active,
    &:visited {
      color: palette(blue, cornflower);
      border: 2px solid palette(blue, cornflower);
      background-color: transparent;
    }
    &:hover,
    &:focus {
      color: palette(white);
      background-color: palette(blue, cornflower);
    }
  }
}


.button--supernova {
  &:link,
  &:active,
  &:visited {
    color: palette(black, base);
    background-color: palette(yellow, supernova);
  }
  &:hover,
  &:focus {
    color: palette(white);
    background-color: palette(blue, cornflower);
  }
  &.button--outline {
    color: palette(yellow, supernova);
    border-color: palette(yellow, supernova);
    background-color: transparent;

    &:hover,
    &:focus {
      color: palette(blue, cornflower);
      background-color: palette(yellow, supernova);
    }
  }
}


.button-group {
  overflow: hidden;
  font-size: 0;
  line-height: 0;

  .button {
    display: block;
    width: 100%;
    font-size: $base-font-size;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    @include respond-to('medium and above') {
      display: inline-block;
      width: inherit;
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 4px;
    }

    + .button {
        border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      @include respond-to('medium and above') {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  .button:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include respond-to('medium and above') {
      border-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
    }
  }
  .button--outline + .button--outline {
    @include respond-to('medium and above') {
      border-left: 0;
    }
  }
}
