.ideas-list {
  overflow: hidden;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.ideas__item {
  display: block;
  margin-bottom: $vs;

  @include respond-to('medium and above') {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }

  .challenge--past & {

    @include respond-to('medium and above') {
      margin-bottom: 0;
    }
  }

  .challenge--past & + & {

    @include respond-to('medium and above') {
      padding-top: $vs*.5;
      margin-top: $vs*.5;
      border-top: 1px solid palette(white);
    }
  }
}

.idea {
  border: 2px solid palette(white, ebb);
  border-radius: 4px;

  .challenge--past & {
    border: 0;
  }
}

.idea__heading,
.idea__content {
  padding-right: $hs/2;
  padding-left: $hs/2;

  .challenge--past & {
    padding-right: 0;
    padding-left: 0;
  }
}

.idea__heading {
  padding-top: $vs/2;
  margin: 0;
  font-size: 14px;
  line-height: $vs;

  @include respond-to('medium and above') {
    min-height: 6em;
  }

  a {
    color: palette(grey, friar);
  }

  .challenge--past & {
    @include respond-to('medium and above') {
      padding-top: 0;
      padding-bottom: 0;
      min-height: auto;
      font-size: 16px;
    }
  }
}

.idea__link {
  .challenge--past & {
    &:link,
    &:active,
    &:visited {
      color: palette(white);
    }

    &:hover,
    &:focus {
      color: palette(yellow, supernova);
    }
  }
}

.idea__content {
  padding-bottom: $vs/2;
}

.idea__actions {
  padding: ($vs/2) ($hs/2);
  line-height: 1;
  background-color: palette(white, ebb);

  .challenge--past & {
    padding: 0;
    background-color: transparent;
  }
}

.idea__action {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  line-height: 1;
  vertical-align: baseline;

  &:link,
  &:active,
  &:visited {
    color: palette(grey, friar);
  }

  &:hover,
  &:focus {
    color: darken(palette(grey, friar), 20%);
  }

  .challenge--past & {
    color: palette(white);
  }

  + .idea__action {
    margin-left: $hs/2;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
  }


}


.ideas-list__heading {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  color: palette(yellow, supernova);
}


.ideas-list--full {
  .idea {
    @include respond-to('medium and above') {
      display: inline-block;
      width: span(3 of 12);
      min-height: inherit;
    }

    + .idea {
      @include respond-to('medium and above') {
        margin-left: gutter();
      }
    }
  }
}


.current-challenges--sidebar {
  color: palette(grey, friar);

  .challenges__item {
    + .challenges__item {
      margin-top: $vs*2;
    }
  }

  .challenge__src {
    display: none;
  }

  .challenge__excerpt {
    width: 100%;
  }

  .challenge__actions {
    display: none;
  }

  .ideas__item {
    display: table;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    padding: $vs/2 $hs/2;
    border: 0;
    border-radius: 0;

    + .ideas__item {
      margin-top: $vs/2;
      margin-left: 0;
      border-top: 1px solid palette(grey, friar);
    }
  }

  .idea__content {
    margin-bottom: $vs/2;
      padding: 0;
    @include respond-to('large and above') {
      display: table-cell;
      width: 63%;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  .idea__actions {
      padding: 0;
      background: none;
    @include respond-to('large and above') {
      display: table-cell;
      width: 35%;
      vertical-align: middle;
    }
  }
}
