.nav {
  padding-left: 0;
  margin-left: 0;

  > li {
    display: inline-block;
    margin-top: 0;

    + li {
      margin-left: $hsr;
    }

    > a {
      display: inline-block;
      text-decoration: none;
    }
  }
}

